# Yes, I purchased a license. FOR A THEME. FOR A PAID EDITOR.
# I assure you I am not crazy... or I am but its undiagnosed as of yet.
sublime-text/Theme\ -\ Monokai\ Pro
sublime-text/Theme\ -\ Monokai\ Pro.sublime-settings


# MacOS loves creating this cheeky motherfucker.
.DS_Store
